
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Detalle cuenta</h1>
    </div>
    <!-- /.col-lg-12 -->
    <div class="alert alert-warning" ng-show="leyendoDatos">
        Leyendo registros del servidor 
    </div>

    
</div>

<div>
    <!-- Datos cuenta -->
    <div class="form-group">
        <table>
            <tr> 
                <td width "85%" width="20%">
                    <label for="disabledSelect">Cuenta</label>
                </td>
                <td width="5%" width="20%">&nbsp</td>
                <td width="5%" width="20%">
                    <label>&nbsp</label>
                </td>
            </tr>
            <tr>
                <td width "85%">
                    <input class="form-control" id="disabledInput" type="text" placeholder="{{CampoCta}}" disabled>
                </td>
                <td width="5%">&nbsp</td>
                <td width="5%">
                    <button type="button" class="btn btn-primary" onClick="javascript:history.go(-1);">Volver</button>
                </td>


            </tr>
            <tr>
                <td width "85%">
                    <label for="disabledSelect">Observaciones</label>
                    <input class="form-control" id="disabledInput" type="text" placeholder="{{DatosCta.obsdatos}}" disabled>
                </td>
            </tr>

        </table>
        <br>
        <label>Mostrar datos fiscales:&nbsp;&nbsp;
            <input type="checkbox" ng-model="MostrarDatos.fiscales">
        </label><br/>
        <!--             <tr height="18"></tr> Linea en blanco -->  
        <table ng-show="MostrarDatos.fiscales">

            <tr>
                <td width="11%">
                    <label for="disabledSelect">NIF</label>

                    <input class="form-control" id="disabledInput" type="text" placeholder="{{DatosCta.nifdatos}}" disabled >
                </td>
                <td width="2%"></td>
                <td width="41%">
                    <label for="disabledSelect">Direccion</label>

                    <input class="form-control" id="disabledInput" type="text" placeholder="{{DatosCta.dirdatos}}" disabled >
                </td>
                <td width="2%"></td>
                <td width="6%">
                    <label for="disabledSelect">C.P</label>

                    <input class="form-control" id="disabledInput" type="text" placeholder="{{DatosCta.codposta}}" disabled >
                </td>
                <td width="2%"></td>
                <td width="20%">
                    <label for="disabledSelect">Poblacion</label>

                    <input class="form-control" id="disabledInput" type="text" placeholder="{{DatosCta.despobla}}" disabled >
                </td>
            </tr>
        </table>
        <table ng-show="MostrarDatos.fiscales">
            <tr>
                <td width="25%">
                    <label for="disabledSelect">Provincia</label>

                    <input class="form-control" id="disabledInput" type="text" placeholder="{{DatosCta.desprovi}}" disabled >
                </td>
                <td width="2%"></td>
                <td width="15%">
                    <label for="disabledSelect">Pais</label>

                    <input class="form-control" id="disabledInput" type="text" placeholder="{{DatosCta.pais}}" disabled >
                </td>
                <td width="2%"></td>
                <td width="36%">
                    <label for="disabledSelect">eMail</label>

                    <input class="form-control" id="disabledInput" type="text" placeholder="{{DatosCta.maidatos }}" disabled >
                </td>
            </tr>
        </table>

        <br>

        <label>Mostrar datos contables:&nbsp;&nbsp;
            <input type="checkbox" ng-model="MostrarDatos.tesoreria">
        </label><br/>
        
        <table ng-show="MostrarDatos.tesoreria">
            <tr height="18"></tr><!-- Linea en blanco -->
            <tr>
                <td width="30%">
                    <label for="disabledSelect">IBAN</label>

                    <input class="form-control" id="disabledInput" type="text" placeholder="{{DatosCCC}}" disabled >
                </td>
                <td width="1%"></td>
                <td width="4%">
                    <label for="disabledSelect">Cod.</label>

                    <input class="form-control" id="disabledInput" type="text" placeholder="{{DatosCta.forpa}}" disabled >
                </td>
                <td width="1%"></td>
                <td width="45%">
                    <label for="disabledSelect">Forma de pago</label>

                    <input class="form-control" id="disabledInput" type="text" placeholder="{{DatosCta.nomforpa}}" disabled >
                </td>
                <td></td>
            </tr>
            <tr height="18"></tr><!-- Linea en blanco -->
        </table>





    </div>

</div>












<div  ng-show="MostrarDatos.tesoreria">



    <table id="extracto" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th width="8%">Fecha</th>
                    <th width="5%">Serie</th>
                    <th width="12%">Numero</th>
                    <th width="8%">Vto</th>
                    <th width="8%">Cod</th>
                    <th width="30%">Forma pago</th>
                    <th width="25%">F. Venci</th>
                    <th width="6%">Pendiente</th>
                    <th></th>
                </tr>
            </thead>

        </table> 
</div>




<div class="row" >
        <div class="col-lg-6 col-sm-12" id="line-chart" width="100%">
                <div class="panel panel-default">
                    <div class="panel-heading">Datos</div>
                    <div class="panel-body">
                        <canvas id="line" class="chart chart-line chart-xl" data="line.data" labels="line.labels" legend="true"
                        click="line.onClick" series="line.series"></canvas>
                    </div>
                </div>
        </div>

</div>


<!-- Pie de pagina

 -->
 <br>
<div class="alert alert-success">
    Ariconta6 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="#" class="alert-link">Ariadna Software</a>
</div>