<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">CUENTAS </h1>
    </div>
    <!-- /.col-lg-12 -->


    
</div>




<table id="example2" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th width="15%">Cuenta</th>
                <th width="70%">Descripcion</th>
                <th></th>
            </tr>
        </thead>

    </table> 


<div class="alert alert-success">
    Ariconta6 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="#" class="alert-link">Ariadna Software</a>
</div>