<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Ariconta 6.0
                    </h3>
                </div>
                <div class="panel-body " >
                    <form role="form">
                        <fieldset>

                            <div class="form-group">
                                <!--<input class="form-control" placeholder="E-mail" name="email" type="email" autofocus> -->
                                <input class="form-control" placeholder="Login" ng-model="data.login"
                                value="{{data.nombre}}"   autofocus>
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Password" ng-model="data.password" type="password" value="{{data.password}}">
                            </div>
                            <div class="checkbox">
                                <label style="color: red">
                                    <strong>{{resultado}}</strong>
                                </label>
                            </div>

                            
                            
                            <button ng-click="ComprobarLogin()" class="btn btn-lg btn-primary btn-block">Entrar</button>
                            </div>
                        </fieldset>
                    </form>
                 
                        <img src="/views/img/logo_ARIADNA_peq.png" alt="Ariadna SW"   height="90" width="230"/>
                 </div>
                <div class="panel-footer">
                            
                </div>
            </div>
        </div>
    </div>
</div>